.app {

    display: flex;
    overflow: hidden;
    padding: 10px;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    color: white;
    height: 100vh;
    border: 1px solid white;
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 27%, #3690f0 55%, #1e69de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 27%,#3690f0 55%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 27%,#3690f0 55%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */


}

.container {

}

.indecator {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
    height: 70px;
}

.red {
    color: #e21010;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 300px;
    border: 2px solid white;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.button{
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    border: white;
    height: 50px;
    width: 65px;
}